.nav {
  height: 100px;
  padding-right: 35px;
}
.logo-bounds {
  height: 100px;
  width: 100px;
}
.logo {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background: var(--cblue1);
  transition: transform var(--fast) var(--ease);

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    left: 5px; right: 5px;
    height: 2px;
    background: var(--cblue1);
    border-radius: 100px;
    transition: background var(--fast) var(--ease);
  }
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }

  &.is-open {
    &::before, &::after {
      background: white;
    }
  }
}
.nav-spacer {
  height: 100px;
}
.nav-overlay {
  background: var(--cblue1);
  height: 30px;
  width: 30px;
  opacity: 0;
  transition-property: transform;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  border-radius: 10000px;
}
