.search {
  padding: 80px 0 0 0;
}
.search__toggle {
  button {
    font-size: 18px;
    background: transparent;
    color: var(--cb2);

    &.is-selected {
      color: var(--cb1);
    }
  }
}

.search-bar {
  margin: 30px 0 0 0;
}

.search-tags {
  margin: 38px 0 0 0;

  button {
    margin-right: 15px;
  }
}
