.photo {
  header {
    padding: 2em 0;
  }
}
.photo__stats {
  border-top: 1px solid var(--gray);
  padding: 1em 0;

  div {
  }
  span {
    position: relative;
    height: 20px;
    width: 1px;
    background: var(--gray);
    margin: 0 2em;
  }

  svg {
    display: block;
    width: 30px;
    height: auto;
  }

  a {
    color: var(--blue);
    transition: color var(--fast) var(--ease);

    &:hover {
      color: var(--black);
    }
  }
}
