.search {
  border: 0;
}
.search input[type='search'] {
  padding: 1em 1.6em 1.2em;
  border: 0;

  &:required {
    box-shadow: none;
  }
  &:invalid ~ button {
    display: none;
  }
}
.search input[type='submit'] {
  display: none;
}
.search button {
  width: 85px;
  height: 85px;
  padding: 0;
  background: transparent;
  opacity: 0.2;
  transition: opacity var(--fast) var(--ease);

  &:hover {
    opacity: 0.5;
  }

  svg {
    width: 16px;
    height: 16px;
    display: block;
  }
}
